name: Metrics
on:
  schedule: [{ cron: "0 * * * *" }]
  workflow_dispatch:
  push:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@master
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: nsc-de
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Berlin

          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 5
          plugin_activity_load: 300
          plugin_activity_visibility: public

          plugin_habits: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_from: 200

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_lines: yes

          plugin_notable: yes
          plugin_notable_indepth: yes
          plugin_notable_repositories: yes
          plugin_notable_types: commit

          plugin_projects: yes
          plugin_projects_descriptions: yes
          plugin_projects_limit: 4

          plugin_languages: yes

          # explicitly disabled
          plugin_achievements: no

          plugin_topics: yes
          plugin_topics_limit: 0
          plugin_topics_mode: icons
